.navbar {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkList{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 200%;
}

.linkList a{
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: center;
}

.ej {
 font-weight: bolder;
}