.navbar {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linkList{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0px;
  width: 200%;
  background-color: lightgray;
}

.linkList a{
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: center;
  color: darkorange;
  text-decoration: none;
}